.PageMain{
  color: white;
}

.AboutPageMain {
  text-align: center;
}

.MqttPageMain {
  text-align: center;
}

.HomePageMain{
  text-align: center;
}

.NavBar{
  background-color: #18191C;
  text-align: right;
}

.TopNavList{
  margin: 0em;
  padding-left: 0em;
  list-style-type: none;
}

.TopNavItem{
  display: inline;
  text-decoration: none;
  font-size: 2em;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-decoration-style: none;
  text-decoration-color: none;
}
