.PageMain{
  color: white;
}

.PageContent{
  font-size: 2em;
}

.AboutPageMain {
  text-align: center;
}

.MqttPageMain {
  text-align: center;
}

.MysqlPageMain {
  text-align: center;
}

.HomePageMain{
  text-align: center;
}

.NavBar{
  background-color: #18191C;
  text-align: right;
}

.TopNavList{
  margin: 0em;
  padding-left: 0em;
  list-style-type: none;
}

.TopNavItem{
  display: inline;
  text-decoration: none;
  font-size: 2em;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-decoration-style: none;
  text-decoration-color: none;
}

.MysqlTable{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 1em;
  border-collapse: separate;
}

#users_ID{
  width: 25%;
  padding-right: 1em;
  padding-left: 1em;
}

#users_jokuNimi{
  width: 75%;
  padding-right: 1em;
  padding-left: 1em;
}
